html,
body {
  background-image: url('https://static.pexels.com/photos/139259/pexels-photo-139259.jpeg');
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

header, nav, div {
  box-sizing: border-box;
}

img {
  width: 100%;
  margin-bottom: 1em;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 40px;
}

h3 {
  font-size: 18px;
  margin: 0;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1em;
}

#navbar {
  height: 50px;
  margin-bottom: 0;
  z-index: 20;
}

.menu {
  display: none;
}

.menu-icon {
  display: none;
}

.headline {
  margin-bottom: 30px;
  margin-left: 0.5em;
}

.subhead {
  margin-bottom: 1.5em;
  font-weight: 700;
}

.filter-row {
  display: block;
  margin: 2em 20px;
}

.cart {
  position: fixed;
  right: 5%;
}

.category-panel {
  margin-bottom: 0;
}

.product-panel {
  height: 400px;
}

.product-desc {
  margin-bottom: 1em;
}

.search-bar {
  padding-left: 0;
}

.user-login {
  display: block;
  margin-bottom: 30px;
}

.counter {
  float: right;
}

.blurb {
  margin-bottom: .5em;
}

.reviews {
  border: 1px solid grey;
  border-radius: 4px;
  background: white;
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
  box-shadow: 2px 2px 4px grey;
  margin: 1em 0;
}

.rating  {
  background: #e3e3e3;
  border-bottom: 1px solid grey;
  padding: 0;
  padding-left: .4em;
  margin-bottom: 0;
}

.byline {
  margin: 0;
  padding-left: .4em;
  font-size: 80%;
  color: grey;
}

.blurb {
  padding: .4em;
}

.title {
  font-weight: 600;
  padding-left: .4em;
  margin: 0;
  margin-top: .4em;
}

.hidden {
  display: none;
}

@media screen and (max-width: 850px) {
  .cart {
    display: none;
  }

  .headline {
    margin: 70px auto 0;
  }

  #navbar {
    position: fixed;
    width: 100%;
  }

  .menu-icon {
    display: inline-block;
  }

  .menu {
    display: block;
    position: absolute;
    min-height: 300px;
    width: 200px;
    background-color: #f8f8f8;
    opacity: 0.95;
    margin-top: 50px;
    /* move drawer off canvas */
    transform: translate(-300px, 0);
      -webkit-transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    z-index: 10;
  }

  .menu.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
  }

  .menu-items {
    padding: 2em;
  }

  .menu-items li {
    font-size: 16px;
    padding-bottom: 1em;
  }

  .navbar-hide {
    display: none;
  }
}
