body {
  background-image: url('https://static.pexels.com/photos/139259/pexels-photo-139259.jpeg');
  /*background-size: cover;*/
  font-family: 'Droid Sans', sans-serif;
}

img {
  width: 100%;
  margin-bottom: 1em;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 40px;
}

h3 {
  font-size: 18px;
}

.headline {
  margin-bottom: 30px;
  margin-left: 0.5em;
}

.product-panel {
  height: 400px;
}

.user-login {
  display: block;
  margin-bottom: 30px;
}
